{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Cool Home Page Stuff</h1>

<form method="POST">
	<h3 align="center">First, we need to steal your Spotify account</h3>
	<div class="form-group">
		<label for="username">Spotify Username</label>
		<input
			type="text"
			class="form-control"
			id="username"
			name="username"
			placeholder="Enter Spotify username..."
		/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3>{{ spotifyUsername }}'s Top Artists:</h3>
<ol>
	{% for item in topArtists %}
	<li>{{ item }}</li>
	{% endfor %}
</ol>

<h3>{{ spotifyUsername }}'s Top Tracks:</h3>
<ol>
	{% for item in topTracks %}
	<li>{{ item }}</li>
	{% endfor %}
</ol>

{% endblock %}
